/* Global variables */
:root {
  --link-color: #4e8ee9;
  --visited-link-color: #b4a0ff;
}

body {
  font-family: monospace;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}

a:visited:hover {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--visited-link-color);
}

.alert {
  background-color: var(--alert-bg);
  color: var(--alert-text);
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid var(--alert-border);
  border-radius: 0.25rem;
}

.warn {
  background-color: var(--warn-bg);
  color: var(--warn-text);
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid var(--warn-border);
  border-radius: 0.25rem;
}

.info-blue {
  background-color: var(--info-blue-bg);
  color: var(--info-blue-text);
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid var(--info-blue-border);
  border-radius: 0.25rem;
}

.info-green {
  background-color: var(--info-green-bg);
  color: var(--info-green-text);
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid var(--info-green-border);
  border-radius: 0.25rem;
}
